@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

/* All the colors needed */
:root{
    --Very-dark-desaturated-blue-1: hsl(222, 26%, 31%);
    --Very-dark-desaturated-blue-2: hsl(223, 31%, 20%);
    --Very-dark-desaturated-blue-3: hsl(224, 36%, 15%);
    --Desaturated-dark-blue-1: hsl(225, 21%, 49%);
    --Desaturated-dark-blue-hover-1: hsl(225, 47%, 69%);
    --Desaturated-dark-blue-2: hsl(224, 28%, 35%);
    --Red: hsl(6, 63%, 50%);
    --Red-hover: hsl(6, 93%, 60%);
    --Dark-red: hsl(6, 70%, 34%);
    --Light-grayish-orange: hsl(30, 25%, 89%);
    --Grayish-orange: hsl(28, 16%, 65%);
    --Very-dark-grayish-blue: hsl(221, 14%, 31%);
    --Light-gray: hsl(0, 0%, 90%);
    --Grayish-red: hsl(0, 5%, 81%);
    --Very-light-gray: hsl(0, 0%, 93%);
    --Dark-moderate-cyan: hsl(185, 42%, 37%);
    --Very-dark-cyan: hsl(185, 58%, 25%);
    --Orange: hsl(25, 98%, 40%);
    --Orange-hover: hsl(25, 97%, 57%);
    --Dark-orange: hsl(25, 99%, 27%);
    --Light-grayish-yellow: hsl(45, 7%, 89%);
    --Dark-grayish-orange: hsl(35, 11%, 61%);
    --Very-dark-grayish-yellow: hsl(60, 10%, 19%);
    --Very-dark-violet1: hsl(268, 75%, 9%);
    --Very-dark-violet2: hsl(268, 71%, 12%);
    --Dark-violet: hsl(281, 89%, 26%);
    --Dark-violet-hover: hsl(281, 88%, 38%);
    --Vivid-magenta: hsl(285, 91%, 52%);
    --Pure-cyan: hsl(176, 100%, 44%);
    --Soft-cyan: hsl(177, 92%, 70%);
    --Soft-cyan-hover: hsl(177, 95%, 78%);
    --Very-dark-violet: hsl(268, 47%, 21%);
    --Dark-magenta: hsl(290, 70%, 36%);
    --Light-yellow: hsl(52, 100%, 62%);
    --Very-dark-blue: hsl(198, 20%, 13%);
    --White: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif, 'League Spartan';
    background-color: var(--Very-dark-desaturated-blue-1);
    color: var(--White);
    font-weight: 700;
}

.container{
    margin: 100px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.switch{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.slider-bg{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 3px;
    width: 3em;
    border-radius: 3em;
}

#slider{
    padding: 7px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: ease-in-out 0.1s;
}

.nums{
    transform: translate(-6px, -8px);
    display: flex;
    column-gap: 10px;
    font-size: xx-small;
    justify-self: end;
    align-items: center;
    justify-content: space-around;
}

.box-1{
    padding: 30px 20px;
    border-radius: 10px;
    margin: 10px 0px;
    display: flex;
    flex-direction: row-reverse;
}

.box-1 p{
    font-size: 32px;
}

.box-2{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
}

.box-2 div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn{
    border: none;
    font-weight: 700;
    font-size: 32px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 7px;
}

#reset{
    grid-column: 1 / 3;
    padding: 15px 30px;
    font-size: 1.2rem;
}

#equals{
    grid-column: 3 / 5;
    padding: 15px 30px;
    font-size: 1.2rem;
}

/* Theme 1 classes */

.slider-bg-theme1{
    background-color: var(--Very-dark-desaturated-blue-2);
}

.poss1{
    background-color: var(--Dark-red);
}

.poss1:hover{
    background-color: var(--Red);
    transition: all 0.1s;
}

.box-1-theme1{
    background-color: var(--Very-dark-desaturated-blue-3);
}

.box-2-theme1{
    background-color: var(--Very-dark-desaturated-blue-2);
}

.btn-theme1{
    color: var(--Very-dark-grayish-blue);
    background-color: var(--Light-grayish-orange);
    box-shadow: 0px 4px 0px var(--Grayish-orange);
}

.btn-theme1:hover{
    background-color: var(--White);
}

.del-theme1{
    background-color: var(--Desaturated-dark-blue-1);
    color: var(--White);
    box-shadow: 0px 4px 0px var(--Desaturated-dark-blue-2);
}

.del-theme1:hover{
    background-color: var(--Desaturated-dark-blue-hover-1);
}

.res-theme1{
    background-color: var(--Desaturated-dark-blue-1);
    color: var(--White);
    box-shadow: 0px 4px 0px var(--Desaturated-dark-blue-2);
}

.res-theme1:hover{
    background-color: var(--Desaturated-dark-blue-hover-1);
}

.equals-theme1{
    background-color: var(--Red);
    color: var(--White);
    box-shadow: 0px 4px 0px var(--Dark-red);
}

.equals-theme1:hover{
    background-color: var(--Red-hover);
}

/* Theme 2 classes */

.body-theme2{
    background-color: var(--Light-gray);
    color: var(--Very-dark-grayish-yellow);
}

.slider-bg-theme2{
    background-color: var(--Very-light-gray);
}

.poss2{
    transform: translateX(1.1em);
    background-color: var(--Orange);
    transition: ease-in-out 0.1s;
}

.poss2:hover{
    background-color: var(--Orange-hover);
    transition: all 0.1s;
}

.btn-theme2{
    background-color: var(--Light-grayish-yellow);
    color: var(--Very-dark-grayish-yellow);
    box-shadow: 0px 4px 0px var(--Dark-grayish-orange);
}

.btn-theme2:hover{
    background-color: var(--White);
}

.del-theme2,
.res-theme2{
    background-color: var(--Dark-moderate-cyan);
    color: var(--White);
    box-shadow: 0px 4px 0px var(--Very-dark-cyan);
}

.del-theme2:hover,
.res-theme2:hover{
    background-color: var(--Pure-cyan);
}

.equals-theme2{
    background-color: var(--Orange);
    color: var(--White);
    box-shadow: 0px 4px 0px var(--Dark-orange);
}

.equals-theme2:hover{
    background-color: var(--Orange-hover);
}

.box-1-theme2{
    background-color: var(--White);
}

.box-2-theme2{
    background-color: var(--Very-light-gray);
}

/* Theme 3 classes */

.body-theme3{
    background-color: var(--Very-dark-violet1);
    color: var(--Light-yellow);
}

.slider-bg-theme3{
    background-color: var(--Very-dark-violet2);
}

.poss3{
    transform: translateX(2.15em);
    background-color: var(--Very-dark-cyan);
    transition: ease-in-out 0.1s;
}

.poss3:hover{
    background-color: var(--Pure-cyan);
    transition: all 0.1s;
}

.btn-theme3{
    background-color: var(--Very-dark-violet);
    color: var(--Light-yellow);
    box-shadow: 0px 4px 0px var(--Dark-magenta);
}

.btn-theme3:hover{
    background-color: var(--Vivid-magenta);
}

.del-theme3,
.res-theme3{
    background-color: var(--Dark-violet);
    color: var(--Light-yellow);
    box-shadow: 0px 4px 0px var(--Vivid-magenta);
}

.del-theme3:hover,
.res-theme3:hover{
    background-color: var(--Dark-violet-hover);
}

.equals-theme3{
    background-color: var(--Pure-cyan);
    color: var(--Very-dark-blue);
    box-shadow: 0px 4px 0px var(--Soft-cyan);
}

.equals-theme3:hover{
    background-color: var(--Soft-cyan-hover);
}

.box-1-theme3{
    background-color: var(--Very-dark-violet2);
}

.box-2-theme3{
    background-color: var(--Very-dark-violet2);
}

 /* General classes */
.sm-font{
    font-size: xx-small;
}

/* Small screen classes */
@media(max-width: 500px){

    .container{
        width: 80%;
        display: block;
    }

    #navbar{
        margin-bottom: 30px;
    }

    #navbar .calc-txt{
        font-size: 2rem;
    }

    .nums{
        transform: translate(-6px, 5px);
    }

    .box-2{
        gap: 15px;
    }

    .btn{
        padding: 10px 15px;
    }

    #reset,
    #del{
        font-size: 1rem;
    }

    .sm-font{
        font-size: 14px;
        margin-right: 10px;
    }

}